asgiref==3.2.3
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
Django==2.1.11
idna==2.8
mysql-connector==2.2.9
pycparser==2.19
PyJWT==1.7.1
PyMySQL==0.9.3
python-dateutil==2.8.1
Django==3.0
pytz==2019.3
sqlparse==0.3.0
