{% extends 'blog/base.html' %}

{% block content %}
  <h1><a>My Songs</a></h1>
  <div class = "mainTitle">
   <ul class="list-group list-group-flush">
     {% for song in songs %}
       <li class="list-group-item d-flex justify-content-between align-items-center">
         {{song.name}}
           <div>
               <a href="{% url 'qrcode_generator' song.sid %}" type="button" class="btn btn-outline-dark">QR Code</a>
           </div>
       </li>
     {% endfor %}
   </ul>
  </div>
{% endblock %}
