<!-- {% block title %}Sign Up{% endblock %} -->
{% block content %}
{% load static %}

<style>
  body{
    background-color: green;
  }
  h2{
    text-align: center;
    color: white;
  }
  form {
    background-color: white;
    padding: 15px;
    padding-bottom: 50px;
    border-radius: 10px;
    width: 500px;
    margin: 0 auto;
  }
  button{
    color: green;
    position: absolute;
    left: 51%;
    margin-left: -50px;

  }
</style>

<div>
  <div class = "inner-signup">
    <h2>Sign up</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Sign up</button>
    </form>
  </div>  
</div>
{% endblock %}
