h1 a{
    color: palevioletred;
    padding-left: 300px;
    font-size: 100px; 
}

.mainTitle{
    color: purple;
    font-size: 50px;
    padding-left: 300px;
    font-family: 'Lobster';

}
.kyle{
   padding-left: 450px;
}